* {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: "Work Sans", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.box-1 {
  background-color: rgb(255, 255, 255);
  width: 50vw;
  height: 40vh;
  padding: 50px 0px 20px 50px;
  border-radius: 8px 8px 0px 0px;
}

.container {
  display: flex;
  justify-content: center;
}

.box-2 {
  background-color: #2bb3b1;
  width: 25vw;
  height: 40vh;
  border-radius: 0px 0px 0px 8px;
  padding: 40px 40px 20px 50px;
}

.box-3 {
  background-color: #4abebd;
  width: 25vw;
  height: 40vh;
  border-radius: 0px 0px 8px 0px;
  padding: 40px 40px 20px 50px;
  color: white;
}

input {
  background-color: #bfdf32;
  color: white;
  width: 18vw;
  height: 8vh;
  border-radius: 5px;
  border-style: none;
  font-size: small;
  font-weight: bold;
  letter-spacing: 1px;
}

.button {
  padding-top: 15px;
}

.do {
  color: #1fa09e;
  line-height: 2em;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px 3px #8bf3f5; /* this is to create a blur text shadow*/
  letter-spacing: 1px;
}

.re {
  color: #bbd052;
  font-size: medium;
  font-weight: bold;
  text-shadow: 1px 1px 2px #d8fa31;
  letter-spacing: 1px;
}

.me {
  color: #b5b8c0;
}

.fa {
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: normal;
  letter-spacing: 1px;
}

span {
  font-size: smaller;
}

.so {
  color: white;
}

b {
  font-size: 30px;
  letter-spacing: 1px;
}

small {
  opacity: 0.5;
  letter-spacing: 1px;
  font-size: medium;
}

.la {
  color: white;
  font-size: 15px;
  line-height: 0.5em;
}

.ti {
  font-size: large;
  font-weight: normal;
  letter-spacing: 1px;
}

span {
  opacity: 0.7;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
